body {
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0;
    margin-bottom: 0;
    border: 3px solid black;
    height: 100vh;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px
}

main {
    display: flex;
    flex: 1;
    flex-direction: row;
    border: 3px solid black;
}

.image-container {
    display: flex;
    flex: 1.15;
    align-items: center;
    justify-content: center;
    height: 100%;
    border: 3px solid black;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 2;
    border: 3px solid black;
}

.sections {
    display: flex;
    flex-direction: column;
    flex: 1;
    border: solid 3px salmon;
}

.top-section {
    height: 100%;
    border: 3px solid rgb(37, 187, 228);
}

.form-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    border: 3px solid rgb(204, 24, 147);
}

.forms {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px;
    border: 3px solid blue;
    padding: 10px;
}

.bottom-section {
    height: 100%;
    border: 3px solid red;
    padding: 40px;
}

button {
    border-radius: 12px;
    padding: 15px;
    padding-right: 50px;
    padding-left: 50px;
    background-color: #596D48;
    color: white;
    font-size: 20px;
}

a {
    color: #596D48
}